.aluno-container {
  width: 100%;
  max-width: 1500px;
  padding: 5 10px;
  margin: 30px auto;
  text-align: center;
  font-family:"Roboto", sans-serif;
  color: white;
  background: linear-gradient(180deg, #1c9199, #a1c4fd); /* Gradiente */
  min-height: 85vh;
  padding: 20px;
}

.aluno-container h3 {
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
}

.aluno-container header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.aluno-container header img{
  height: 100px;
}

.aluno-container header button{
  height: 50px;
  width: 200px;
  border-radius: 15px;
  border: 3px solid #000000;
  background: green;
  margin-left: 10px;
  transition: border-color 0.5s;
}

.aluno-container header button:hover{
  border-color: #42b924;
}

table, th, td{
  border: 1px solid black;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 2px;
  text-align: center;
}