body {
    font-family: "Roboto", sans-serif;
    display: flex; /* Configura o layout flexbox */
    align-items: center;
    justify-content: center; /* Centraliza verticalmente */
    background: linear-gradient(135deg, #62bfcf, #a1c4fd);
}

.navigationWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  padding: 20px;
  background-color: #1c9199;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-transform: uppercase;
  overflow: visible; /* Permite que o submenu saia do contêiner */
  width: 600px;
}

.navigation {
  display: flex;
  list-style-type: none;
  position: relative;
}

.parent {
  position: relative; /* Necessário para o submenu posicionar abaixo */
  padding: 0 10px;
  cursor: pointer;
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: white;

  &:hover {
      color: #000000;
  }
}

.subnavigation {
  display: none;
  flex-direction: column; /* Garante que os itens do submenu fiquem empilhados */
  position: absolute;
  top: 100%; /* Posiciona o submenu logo abaixo do menu pai */
  left: 0;
  margin: 10px 0; /* Espaçamento entre o menu pai e o submenu */
  padding: 10px;
  background-color: #1c9199;
  list-style-type: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Adiciona um leve destaque */
  border-radius: 4px; /* Bordas arredondadas */
  z-index: 1000; /* Garante que o submenu fique acima de outros elementos */
}

.subnavigation li a {
  font-size: 15px;
  color: white;
  text-decoration: none;
  padding: 5px 0;
  transition: all 0.3s ease-in-out;
}

.subnavigation li a:hover {
  color: #000000;
  background-color: #e0e0e0;
  border-radius: 4px;
}

.active .subnavigation {
  display: flex; /* Mostra o submenu quando ativo */
}
